{%extends 'base.html' %}

{% block head %}
<h1> Adding transactions </h1><br>
{% endblock %}

{% block body %}
<div>
 Please enter the details of your resent transaction: <br><br>
<form methond='post' action='/addtransaction'>
  Date of the purchase <br><br>
    <input type=data name='pur_date'> </input><br><br><br>
  Amount spent <br><br>
    <input type=float name='amoutn'> </input><br><br><br>
  Category <br><br>
    <input type=text name='category'> </input><br><br><br>
  Notes <br><br>
    <input type=text name='notes'> </input><br><br><br>
  Who was a purchase for? <br><br>
    <input type=text name='for'> </input><br><br><br>
  Who paid for it? <br><br>
    <input type=text name='who_paid'> </input><br><br><br>
  <button  value='submit' type='submit'>Add</button>
</form>
</div>

{% endblock %}
