{%extends 'base.html' %}

{% block head %}
<h1> Adding transactions </h1><br>
{% endblock %}

{% block body %}
<div>
 Please enter the details of your resent transaction: <br><br>
<form class="pure-form pure-form-aligned" method='post' action='/addtransaction'>
  Date of the purchase <br><br>
    <input type=text name='pur_date' class="pure-input-rounded" > </input><br><br><br>
  Amount spent <br><br>
    <input type=float name='amount' class="pure-input-rounded" > </input><br><br><br>
  Category <br><br>
    <select type=text name='category' class="pure-input-rounded">
        <option>admin</option>
        <option>bad</option>
        <option>bills</option>
        <option>beauty</option>
        <option>clothes</option>
        <option>dinning-in</option>
        <option>dinning-out</option>
        <option>drinking-in</option>
        <option>drinking-out</option>
        <option>entertiment</option>
        <option>food</option>
        <option>gifts</option>
        <option>health</option>
        <option>household</option>
        <option>self-dev</option>
        <option>sundays</option>
        <option>transport</option>
        <option>trips/holidays</option>
        <option>VA</option>
    </select><br><br><br>
  Notes <br><br>
    <input type=text name='notes' class="pure-input-rounded" > </input><br><br><br>
  Who was a purchase for? <br><br>
    <select type=text name='for'class="pure-input-rounded" >
        <option>Anna</option>
        <option>Craig</option>
        <option>common</option>
    </select><br><br><br>
  Who paid for it? <br><br>
    <input type=text name='who_paid' class="pure-input-rounded" > </input><br><br><br>
  <button  value='submit' type='submit'>Add</button>
</form>
</div><br>

<div>
    {% if pur_date, category, amount, notes,for_whom, who_paid  %}
    <p> Thank you for entering the transaction:<br>
    On {{pur_date}} {{who_paid}} paid {{amount}}zł for {{for_whom}}'s {{category}} ({{notes}}). </p>
    {% endif %}




</div>


{% endblock %}
