head, body {
    text-align: center;
    font-family: sans-serif;
    color: #222831;
    background: #eeeeee;
}

input {
    background-color: #4f8a8b;
}

button{
    background-color: #fbd46d;
    border-radius: 5px;
}

table {
    boder: 1px solid #222831;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border-top: 1px solid #222831;
    border-bottom: 1px solid #222831;
}

th.left_border {
    border-left: 1px solid #222831;
}

th.right_border {
    border-right: 1px solid #222831;
}

td.left_border {
    border-left: 1px solid #222831;
}

td.right_border {
    border-right: 1px solid #222831;
}

td.no_borders {
    border: none;
}



th {
    background-color: #4f8a8b;
    border-bottom: 3px solid ;

}

td {
    text-align: left;
}

th, td {
    padding: 15px;
}
